Test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="teaching-plan">
		<complexType>
			<sequence>
				<element name="course" minOccurs="1" maxOccurs="9999">
					<complexType>
						<sequence>
							<element name="course-name" type="string"></element>
							<element name="class-hour" type="integer"></element>
							<element name="exam-form" type="string"></element>
						</sequence>
						<attribute name="no" type="integer" use="required"></attribute>
					</complexType>
				</element>
			</sequence>
		</complexType>
</element>
</schema>